<h1> Hey, you! </h1>

<p> This will have something great one day...but today's not that day.</p>
<p> •(◐﹏◐)• </p>

<h3> Here's some other stuff in the meantime: </h3>
<ul>
  <li><a href="https://twitter.com/tzmanics">Twitter</a></li>
  <li><a href="https://bit.ly/2ZIuope">Some Blog Posts</a></li>
  <li><a href="https://github.com/tzmanics/tara-z-manicsic-bio">Bio Gist</a></li>
  <li><a href="https://github.com/tzmanics">Github Profile</a></li>
</ul>

<p> Will get Toshi working on this site ASAP. </p>

<img src="https://media1.giphy.com/media/jn2mrDWL6eHkFCh2nc/giphy.gif"
     alt="a gif of a pomeranian typing"
>
<router-outlet></router-outlet>
